body {
    font-family: Hack, monospace;
    font-size: 1.25em;
}

.main {
    border: solid #444;
    border-width: 30px 4px 4px;
    border-radius: 4px;
    height: 400px;
    margin: 2em auto;
    display: flex;
    max-width: 650px;
}

.content {
    display: flex;
    padding: 0.5em;
    flex: 1;
    background-color: black;
    color: lime;
    flex-direction: column;
}

.buttons-container {
    position: absolute;
    margin-top: -24px;
    margin-left: 5px;
}

.button-osx {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
}

.close {
    background: #ff5c5c;
    border: 1px solid #e33e41;
}

.minimize {
    background: #ffbd4c;
    border: 1px solid #e09e3e;
}

.zoom {
    background: #00ca56;
    border: 1px solid #14ae46;
}

.external-aside__link a {
    text-decoration: none;
    color: inherit;
}

internal-aside__link button {
    border: none;
}

.aside * {
    margin-top: .75em;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.terminal {
    margin: 0;
}

.terminal-container {
    display: flex;
}

.terminal-container > * {
    margin: 0;
}

.aside {
    display: flex;
    flex-direction: column;
}

.internal.aside a {
    text-decoration: none;
    color: inherit;
}

.title {
    height: 0.5em;
    color: grey;
    font-size: 14px;
    margin-top: -20px;
    margin-left: 250px;
}

@media only screen and (max-width: 450px) {
    .title {
        margin-left: 105px;
    }
}

a:hover {
    background-color: lime;
    color: black;
}

.blinking:after {
    content: '';
    width: 10px;
    height: 20px;
    background-color: lime;
    opacity: 0;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
